.center {
margin-left: auto;
margin-right: auto;
width: 50%;
display: block;
}

.imgclass {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    align: center;
    border-color: goldenrod;
    border: 5px;
}

.imgclass:hover {
    background: url('Loki_Time-Traveler_Profile.jpg')
}

p {
    text-align: center;
}
.lokiimg2 {
    height: 30%;
    width: 30%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    align: center;
    border-color: goldenrod;
    border: 5px;
}

.button {
    background-color: goldenrod;
    border-color: black;
}
