.center {
margin-left: auto;
margin-right: auto;
width: 50%;
display: block;
}

.imgclass {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    border-color: goldenrod;
    border: 5px;
}


p {
    text-align: center;
}
.lokiimg2 {
    height: 30%;
    width: 30%;
    margin-left: 40%;
    margin-right: 50%;
    text-align: center;
    border-color: goldenrod;
    border: 5px;
    border-radius: 50%;
}

.button {
    background-color: goldenrod;
    border-color: black;
}




  .picture {
    position: relative;
    margin-left: 45%;
    margin-right: 0%;
}
  
  .picture img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .picture .hover {
    display: none;
  }
  
  .picture:hover .hover {
    display: block;
  }